* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* default styling  */

section {
    margin-bottom: 49px;
    border-bottom: solid 2px black;
}

.join-abt:hover{
    background-color: white;
    color: black;
    font-weight: 500;
}