* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* default styling  */

section {
    margin-bottom: 49px;
    border-bottom: solid 2px black;
}

.category-section {
    width: 100%;
    text-align: center;
}
.top-categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cat-item {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

.cat-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: blur(4px) brightness(0.8);
    transition: 0.4s;
    border: 1px solid black;
}


.cat-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    font-size: 1.5rem;
    text-decoration: none;
    background: rgba(255,255,255,0.3);
    padding: 8px 25px;
}

.cat-item:hover img {
    filter: blur(0px) brightness(1);
}

.bottom-categories {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
}

.small-item {
    text-decoration: none;
    color: black;
    text-align: center;
}

.small-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: 0.3s;
}

.small-item:hover img {
    transform: scale(1.1);
}

.small-item p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}