* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* default styling  */

section {
    margin-bottom: 49px;
    border-bottom: solid 2px black;
}

footer {
    font-size: 14px;
}

.footer-links li {
    margin-bottom: 6px;
}

.footer-links a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    text-decoration: underline;
}

input[type="email"] {
    border-radius: 0;
    padding: 10px;
}
.sign-up:hover{
    background-color: white !important;
    color: black !important;
    font-weight: 500;
}